<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="nice 2 meet profile">
    <meta name="author" content="Ridvan Bekir">
    <link rel="icon" href="/static/image/meet_me_round.png">

    <title>Nice2Meet: <%= headTitleInfo %> </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
    <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    <!-- Custom styles for this template -->
    <link href="/static/css/styles.css" rel="stylesheet">
</head>