<!-- views/index.ejs -->
<% 
    var headTitleInfo = 'Homepage';
    var navigationActiveLink = 'home';
%>
<!DOCTYPE html>
<html lang="en">
  <%- include includes/head_UI %>

  <body>
    <div class="container">
            
      <%- include includes/header %>

      <div class="jumbotron text-center">
        <h3 class="display-3">Welcome to Nice2Meet</h3>

        <img src="/static/image/meeting_people.png" alt="People Meeting" width="30%"/>

		    <p>Experience the new way of meeting people. You only have to:</p>

        <% if (req.isAuthenticated()) { %>
          <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span>  Go to Profile</a>
        <% } else { %>
          <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>  Log In</a>
          <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>  Sign Up</a>

          <p>Or login with one click only:</p>
          <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
          <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
          <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
        <% } %> 
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Uniqueness</h4>
          <p>Nice2Meet is the first and only of its kind.</p>

          <h4>Head of technology</h4>
          <p>The newest and progressive technologies are used on the development of the application.</p>

          <h4>Be ahean of everyone</h4>
          <p></p>
        </div>

        <div class="col-lg-6">
          <h4>New experience</h4>
          <p>With the new application you will date more people.</p>

          <h4>Innovation</h4>
          <p>The application is considered to be the new technological innovation.</p>

          <h4>Social contribution</h4>
          <p></p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; MeetMe 2018</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>